.card {
  position: relative;
}

.card__name {
  max-width: max-content;
  width: 73px;
  height: 24px;
  top: 295px;
  left: 166px;
  border-radius: 4px;
  background-color: #fff;
  padding: 2px 2px 2px 8px;
  gap: 8px;
}

.card__image {
  border-radius: 1px;
  width: 325px;
  height: 328px;
  top: 279px;
  left: 38px;
}

.card__header {
  position: absolute;
  padding: 15px;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
}

.card__like-button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.card__like-button_active {
  color: #ff4d00;
}
