.card {
  position: relative;
}

.card__name {
max-width:max-content;
  width: 73px;
  height: 24px;
  top: 295px;
  left: 166px;
  border-radius: 4px;
  background-color: #fff;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  gap: 8px;
}

.card__image {
  border-radius: 1px;
  width: 325px;
  height: 328px;
  top: 279px;
  left: 38px;
}

.card__header {
  position: absolute;
  padding: 15px;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
}
