.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__logo {
  /*argin-right: 24px;*/
}

.header__date-and-location {
  margin: 0;
}

.header__left,
.header__right {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__add-clothes-btn {
  border: none;
  background: transparent;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__avatar_placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  color: #000;
  font-weight: 700;
}
