.modal__delete-btn {
  margin-top: 12px;
  padding: 8px 16px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2 ease;
}

.modal__delete-btn:hover {
  background-color: #d9363e;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
}

.modal__content_type_image {
  padding: 0;
}

.modal__image {
  width: 498px;
  height: 498px;
  object-fit: cover;
}

.modal__footer {
  top: 778px;
  left: 40px;
  padding: 0 15px;
}

.modal__caption {
  width: 330px;
  top: 220px;
  left: 40px;
  font-family:
    cabinet grotesk,
    Cochin,
    Georgia,
    Times,
    "Times New Roman",
    serif;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.modal__weather {
  width: 1360px;
  top: 100px;
  left: 40px;
}
